.btn-edit{
    background-color: #366836;
    color:white; 
}

.btn-edit:active,
.btn-edit:hover{
    background-color: #2e4e2e;
    color:white; 
}

.btn-delete{
    background-color: #8b0000;
    color:white; 
}

.btn-delete:active,
.btn-delete:hover{
    background-color: #5c0707;
    color:white; 
}

.table-header{
    background-color: #366836;
}