<div class="container mt-5">
    <div class="card table-header">
        <div class="card-header d-flex justify-content-between ">
            <h4 class="text-white m-2 "> Tabla de clientes </h4>
            <div class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Buscar cliente" aria-label="Search" [(ngModel)]="searchTerm" name="searchTerm" (input)="search()">
            </div>
        </div>
        <div class="table-responsive">
        <!-- Verifica si hay clientes después de la búsqueda -->
        <ng-container *ngIf="clients && clients.length > 0; else noClients">
            <table class="table table-default table-striped table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col" class="">ID cliente</th>
                    <th scope="col">RUT o DNI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Puntos</th>
                    <th scope="col"> Opciones </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let client of clients" class="text-center">
                    <td>{{ client.id}}</td>
                    <td>{{ client.rut_or_dni }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.points }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a routerLink="/clients/{{client.id}}/edit" class="btn btn-edit me-2 fw-bold"> Editar </a>
                            <button type="button" (click)="deleteClient($event,client.id)" class="btn btn-delete fw-bold"> Eliminar </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </ng-container>
        <!-- Mensaje si no hay clientes después de la búsqueda -->
        <ng-template #noClients>
          <p class="text-center mt-4 fw-bold text-white" *ngIf="searchTerm">No se encontraron resultados para la búsqueda.</p>
          <p class="text-center mt-2 fw-bold text-white" *ngIf="!searchTerm">No hay clientes.</p>
        </ng-template>
        </div>
    </div>
</div>