<div class="container mt-5">
    <div class="card table-header">
        <div class="card-header d-flex justify-content-center">
            <h4 class="text-white m-2 "> Tabla de clientes </h4>
        </div>
        <div class="table-responsive">
            <table class="table table-default table-striped table-bordered">
                <thead>
                <tr class="text-center">
                    <th scope="col" class="">ID cliente</th>
                    <th scope="col">RUT o DNI</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Correo electrónico</th>
                    <th scope="col">Puntos</th>
                    <th scope="col"> Opciones </th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let client of clients" class="text-center">
                    <td>{{ client.id}}</td>
                    <td>{{ client.rut_or_dni }}</td>
                    <td>{{ client.name }}</td>
                    <td>{{ client.last_name }}</td>
                    <td>{{ client.email }}</td>
                    <td>{{ client.points }}</td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <a routerLink="/clients/{{client.id}}/edit" class="btn btn-edit me-2 fw-bold"> Editar </a>
                            <button type="button" (click)="deleteClient($event,client.id)" class="btn btn-delete fw-bold"> Eliminar </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>